@font-face {
  font-family: Terraria-Font;
  src: url('../public/fonts/ANDYB.TTF');
}

.App {
  background-image: url('../public/images/TerrariaBackground.jpeg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  font-family: Terraria-Font;
}

