@font-face {
  font-family: Terraria-Font;
  src: url('../public/fonts/ANDYB.TTF');
}

.App {
  background-image: url('../public/images/TerrariaBackground.jpeg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  padding-bottom: 40px;
}

#videoBackg {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
}

* {
  font-family: 'Terraria-Font';
}